# UE4 Project directories to ignore
unwinged/Binaries/
unwinged/DerivedDataCache/
unwinged/Intermediate/
unwinged/Saved/
unwinged/Build/
unwinged/Content/ThirdPersonBP/Maps/ThirdPersonExampleMap_BuiltData.uasset
unwinged/Content/ThirdPersonBP/Maps/Mazmorra_Jungla/Mazmorra_Jungla_BuiltData.uasset
